# Ignorar absolutamente todo
*
*/

# Permitir archivos específicos
!.gitignore
!README.md
!Pipfile
!Pipfile.lock

# Permitir imágenes
!*.png
!*.jpg
!*.jpeg
!*.gif

# Asegurarse de que estos archivos y carpetas están ignorados
.env
*.pbix
*.docx
*.pdf
*.deb
src/
"Power BI"/
notebooks/
data/
pyrightconfig.json