[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
beautifulsoup4 = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
types-requests = "*"
mypy-extensions = "*"
pandas-stubs = "*"
types-selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.12"
